* {
    margin: 0;
    padding: 0;
}
#navbar {
    background-color: rgb(16, 25, 51);
    height: 130px;
    width: 100%;
    border-top-left-radius: 56px;
    display: flex;
}
.nav-box-1 {
    height: 130px;
    width: 90px;
}
.nav-box-2 {
    height: 130px;
    width: 83px;
    margin-left: 20px;
}
#home-logo-box {
    height: 80px;
    width: 80px;
    display: flex;
    border-top-left-radius: 56px;
}
#resume-logo-box {
    height: 80px;
    width: 80px;
    display: flex;
    border-top-left-radius: 56px;
}
.logo{
    height: 80px;
    width: 80px;
    margin-right: 30px;
    border-radius: 55px;
    border: 1px solid rgb(16, 25, 51);
}
.resume-logo{
    height: 80px;
    width: 80px;
    margin-right: 30px;
    border-radius: 5px;
    border: 1px solid rgb(16, 25, 51);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#home-logo-btn-box {
    height: 100px;
    width: 82px;
    display: flex;
    margin-top: 6px;
}
#resume-logo-btn-box {
    height: 100px;
    width: 82px;
    display: flex;
    margin-top: 6px;
}
.Home-btn {
    height: 25px;
    width: 80px;
    color: white;
    margin-left: 1px;
    background-color: rgb(16, 25, 51);
    border: none;
    border: 1px solid white;
    transition: all 0.3s ease;
}
.Home-btn:hover {
    color: rgb(18, 100, 133);
    background-color: white;
    border-color: rgb(18, 100, 133);
    cursor: pointer;
    transform: scale(1.05);
}
.resume-btn {
    height: 25px;
    width: 80px;
    color: white;
    margin-left: 1px;
    background-color: rgb(16, 25, 51);
    border: none;
    border-top: solid 1px white;
    border-left: solid 1px white;
    border-right: solid 1px white;
    transition: all 0.3s ease;
}
.resume-btn:hover {
    color: rgb(18, 100, 133);
    background-color: white;
    border-color: rgb(18, 100, 133);
    cursor: pointer;
    transform: scale(1.05);
}
#section {
    height: 1370px;     
    width: 100%;
    background-color: rgb(16, 25, 51);
}
.resume-box {
    height: 1340px;
    width: 800px;
    background-color: #eca517;
    border: 1px solid black;
    margin: 0px 0px 0px 90px;
    border-radius: 5px 5px 5px 5px;
}
.image-tittle-box {
    height: 180px;
    width: 800px;
    display: flex;
    border-radius: 5px 5px 0px 0px;
    border: none;
}
.image-box {
    height: 150px;
    width: 150px;
    margin-top: 30px;
    margin-left: 15px;
    background-color: #c1c4c7d3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 0px 0px 50%;
}
.my-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;

}
.header-box {
    height: 150px;
    width: 600px;
    background-color: #c1c4c7d3;
    margin-top: 30px;
    border-radius: 0% 100px 100px 0%;
}
.nam-box{
    height: 50px;
    width: 360px;
    margin-left: 115px;
    margin-top: 15px;
}
.my-name{
    color: rgb(16, 25, 51);
    font-family: Arial, sans-serif;
    font-size: 40px;
    text-shadow: 0 0 10px #be8107;
}
.discription-box {
    height: 80px;
    width: 600px;
    margin-top: 3px;
}
.discription {
    color: rgb(16, 25, 51);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin-left: 45px;
    margin-top: px;
}
.contact_box {
    height: 40px;
    width: 740px;
    background-color: #c1c4c7d3;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 100px 100px 100px 100px;
    display: flex;
}
.num-box {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#num {
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
}
.mail-box {
    height: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mail {
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
}
.information-box-1 {
    height: 300px;
    width: 800px;
    background-color: #eca517;
    display: flex;
    margin-top: 10px;
}
.information-box-2 {
    height: 300px;
    width: 800px;
    background-color: #eca517;
    display: flex;
    margin-top: 10px;
}
.information-box-3{
    height: 300px;
    width: 800px;
    background-color: #eca517;
    display: flex;
    margin-top: 10px;
}
.information-1 {
    height: 280px;
    width: 430px;
    background-color: #c1c4c7d3;
    margin-left: 15px;
    border-radius: 50px;
}
.information-2 {
    height: 280px;
    width: 320px;
    background-color: #c1c4c7d3;
    margin-left: 15px;
    border-radius: 50px;
}
.information-3 {
    height: 280px;
    width: 430px;
    background-color: #c1c4c7d3;
    margin-left: 15px;
    border-radius: 50px;
}
.information-4 {
    height: 280px;
    width: 320px;
    background-color: #c1c4c7d3;
    margin-left: 15px;
    border-radius: 50px;
}
.information-5 {
    height: 280px;
    width: 430px;
    background-color: #c1c4c7d3;
    margin-left: 15px;
    border-radius: 50px;
}
.text-1 {
    color: rgb(16, 25, 51);
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-shadow: 0 0 10px #be8107;
    margin-left: 120px;
    margin-top: 25px;
}
.text-2 {
    color: rgb(16, 25, 51);
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-shadow: 0 0 10px #be8107;
    margin-left: 90px;
    margin-top: 25px;
}
.text-3 {
    color: rgb(16, 25, 51);
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-shadow: 0 0 10px #be8107;
    margin-left: 170px;
    margin-top: 25px;
}
.text-4 {
    color: rgb(16, 25, 51);
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-shadow: 0 0 10px #be8107;
    margin-left: 76px;
    margin-top: 25px;
}
.text-5 {
    color: rgb(16, 25, 51);
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-shadow: 0 0 10px #be8107;
    margin-left: 150px;
    margin-top: 25px;
}
.text-6 {
    color: rgb(16, 25, 51);
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-shadow: 0 0 10px #be8107;
    margin-left: 250px;
    margin-top: 10px;
}
.text-7 {
    color: rgb(16, 25, 51);
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    margin-left: 65px;
    margin-top: 10px;
}
.text-box {
    margin-left: 50px;
    margin-top: 25px;
}
.edu-text {
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}
.declaration-box {
    height: 150px;
    width: 800px;
    display: flex;
}
.declaration-text {
    height: 150px;
    width: 700px;
    background-color: #c1c4c7d3;
    margin-left: 45px;
    border-radius: 50px;
}
#footer-box {
    height: 300px;
    width: 100%;
    background-color: #bd9855;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.foot-contact-box {
    height: 35px;
    width: 100%;
    background-color: #8B9EB7;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.foot-con-tag {
    background-color: #8B9EB7;
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
    color: #5f4a06;
    border: none;
}
.foot-my-con {
    height: 55px;
    width: 100%;
    display: flex;
    background-color: #bd9855;
}
.foot-con-logo {
    height: 30px;
    width: 30px;
    margin: 20px 0px 0px 80px;
    color: white;
}
.foot-con-num {
    height: 30px;
    width: 195px;
    display: flex;
    margin: 20px 0px 0px 20px;
    align-items: center;
    justify-content: center;
    background-color: #bd9855;
    letter-spacing: 1.3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.foot-mail-box {
    height: 55px;
    width: 100%;
    display: flex;
    background-color: #bd9855;
}
.foot-mail-logo {
    height: 30px;
    width: 30px;
    margin: 20px 0px 0px 80px;
    color: white;
}
.foot-email {
    height: 30px;
    width: 450px;
    margin: 20px 0px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #bd9855;
    letter-spacing: 2px;
    margin-left: 7px;
}